@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

/*Root*/
::selection {
  color: white;
  background: #ff9900;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #ff9900;
}

::-webkit-scrollbar-thumb {
  background: black;
}

html,
body {
  width: 100% !important;
  height: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prata", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  padding: 70px 0;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
}

li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

ul {
  padding-left: unset;
}

/*  HEADER */
.nav-link {
  text-decoration: none;
  display: inline-block;
  padding: 10px 10px 3px 10px;
  color: #000000;
  transition: color 0.3s ease-in-out;
  font-weight: 600;
  font-size: 20px;
}

.nav-item .underline {
  height: 4px;
  background-color: transparent;
  width: 0;
  transition: width 0.6s, background-color 0.6s;
  border-radius: 70px;
  margin: 0 auto;
}

.nav-item.active-link a {
  color: #ff9900;
}

.nav-item.active-link .underline {
  width: 100%;
  background-color: #ff9900;
}

.nav-item:hover .underline {
  background-color: #ff9900;
  width: 100%;
  transition: 0.5s;
}

.nav-item:hover a {
  color: #ff9900;
  transition: 0.5s;
}

.nav-item:active a {
  transition: none;
}

.nav-item:active .underline {
  transition: none;
  background-color: #ff9900;
}

.navbar-nav {
  gap: 30px;
  padding: 10px 0;
}

.navbar {
  background-color: #ffffff;
  transition: background-color 0.3s ease-in-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-toggler {
  border-color: #ff9900 !important;
  background-color: #ff9900;
  color: transparent !important;
}

.navbar-toggler:hover,
.navbar-toggler:active {
  border-color: #ff9900 !important;
  background-color: #ff9900;
  color: transparent !important;
  transition: 0.5s;
}

/* INNDEX - HOME*/
/* CAROUSEL */
.carousel-caption {
  top: 30%;
}

.carousel-caption h1 {
  font-family: "Sedan SC", serif;
  font-weight: bold;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
}

@media only screen and (max-width: 991px) {
  .carousel-caption h1 {
    font-size: 35px;
  }
}

.carousel-caption h4 {
  color: #f2f2f2;
  font-weight: bold;
}

.carousel-caption h5 {
  color: #f2f2f2;
  font-weight: bold;
}

.c-item {
  height: 800px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.carousel-item {
  height: 70vh;
}

.carousel-item.active img {
  transition: transform 5s linear;
  transition-duration: infinite;
  transform: scale(1.05, 1.05);
  height: 100%;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23C4B583'  viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23C4B583' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

html body main section.rooms div.container div.row div.col-lg-12 div.room-content.h-100 div.room-info div.room-amenities p i.fas {
  font-size: 30px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: 100% 100%;
}

.carousel-control-next,
.carousel-control-prev {
  width: 10%;
}

@media only screen and (max-width: 600px) {
  .carousel-caption {
    text-align: center;
  }
}

/* INDEX - ABOUT US*/
.about_area h6 {
  color: #737a83;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.about_area .tagline::before {
  content: "";
  display: block;
  width: 68px;
  height: 2px;
  background-color: #C4B583;
  margin-bottom: 17px;
}

.about_area h2 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: bold;
}

.about_area p {
  color: #8c8c8c;
}

@media only screen and (min-width: 1000px) {
  #tagline {
    margin: auto;
  }
}

/* INDEX - ROOMS*/
.section-amenities {
  position: relative;
}

.section-amenities::before {
  content: "";
  background: url("images/4.png") no-repeat;
  background-size: 100%;
  width: 350px;
  height: 690px;
  position: absolute;
  left: -50px;
  bottom: 0;
  z-index: -1;
}

.amenities-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.amenities-detail .amenities-box {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.lh-amenities {
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
}

.lh-amenities-in {
  position: relative;
  padding: 24px;
}

.lh-amenities-in h4.side-number {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 55px;
  font-weight: 800;
  line-height: 55px;
  color: rgba(0, 0, 0, 0.05);
}

.lh-amenities-in .amenities-contain h4.amenities-heading {
  font-size: 22px;
  color: #000;
  line-height: 1.2;
}

.lh-amenities-in .amenities-contain p {
  font-size: 14px;
  padding: 15px 0;
}

.lh-amenities-in .amenities-contain a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: #000;
  font-weight: bold;
}

.lh-amenities-in .amenities-contain a i {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 15px;
  margin-left: 2px;
}

.lh-amenities-in .amenities-contain a:hover i {
  margin-left: 5px;
}

.lh-amenities-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px 0 0 0;
}

/* Responsive */
@media screen and (max-width: 1550px) {
  .section-amenities::before {
    width: 260px;
    height: 508px;
  }
}

@media screen and (max-width: 1399px) {
  .section-amenities::before {
    width: 189px;
    height: 350px;
  }

  .section-amenities::after {
    width: 120px;
    height: 120px;
  }

  .section-amenities-tb:nth-child(3)::before {
    width: 130px;
    right: -150px;
  }
}

@media screen and (max-width: 1199px) {
  .amenities-detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .amenities-detail .amenities-box {
    width: 100%;
    padding: 24px;
  }

  .amenities-detail .amenities-box:last-child {
    padding-top: 0;
  }

  .amenities-detail .amenities-box img {
    border-radius: 15px;
  }

  .amenities-detail .amenities-box .lh-amenities-in {
    padding: 0;
  }

  .amenities-detail .amenities-box .lh-amenities-in h4.side-number {
    top: 0;
    right: 0;
  }

  .amenities-detail .amenities-box .lh-amenities-in .amenities-contain h4.amenities-heading {
    font-size: 18px;
  }
}

@media screen and (max-width: 991px) {
  .section-amenities::before {
    width: 138px;
    height: 274px;
    left: -6px;
  }

  .lh-amenities-in {
    padding: 15px 0;
  }

  .lh-amenities-in .amenities-contain p {
    padding: 15px 0;
  }
}

@media screen and (max-width: 767px) {
  .lh-amenities-in {
    padding: 15px 0;
  }

  .lh-amenities-in .amenities-contain p {
    padding: 5px 0;
  }
}

@media screen and (max-width: 575px) {
  .section-amenities::before {
    width: 62px;
    height: 120px;
    left: 10px;
  }
}

.amenities-left-image {
  width: 100%;
  height: 100%;
}

.amenities-right-image {
  width: 100%;
  height: 100%;
}


/* INDEX - FACILITY*/
.box {
  padding: 30px 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: 0.5s ease-in;
  border-bottom-right-radius: 30%;
  border-top-left-radius: 30%;
}

.box i {
  font-size: 3rem;
  color: black;
  margin-bottom: 15px;
  
}

.box h6 {
  color: black;
  text-align: center;
  margin-bottom: 15px;
  font-size: 24px;
}

.box p {
  color: #7a7e9a;
  font-size: 20px;
  margin-bottom: 20px;
}

.box:hover i {
  color: #ff9900;
  transition: 0.75s ease;
}

.box:hover h6,
.box:hover p {
  color: black;
}

.box:hover {
  transform: translatey(-10px);
}

/* INDEX - GALLERY */
#gallery .swiper {
  width: 100%;
  height: 100%;
}

#gallery .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gallery .swiper-slide img {
  width: 100%;
  height: 30vh;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  transition: all .3s ease-in-out;
}

@media only screen and (min-width: 540px) and (max-width: 1300px) {
  #gallery .swiper-slide img {
    height: 30vh;
  }
}

#gallery .swiper-pagination>.swiper-pagination-bullet {
  opacity: 1;
  border: #C4B583 solid 1px;
  background-color: transparent;
}

#gallery .swiper-pagination>.swiper-pagination-bullet-active {
  background-color: white;
}

/* INDEX - TESTIMONIALS */
.review-item blockquote {

  line-height: 1.8;
}

.review-content .swiper-arrow {
  top: 50%;
  bottom: 0;
  z-index: 2;
  border: 1px solid var(--bs-gray-400);
  color: var(--bs-gray-400);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: 0.4s ease-in-out;
}

.review-content .swiper-arrow:hover {
  border: 1px solid #4d5969;
  color: #4d5969;
}

.review-content .swiper-arrow.swiper-arrow-prev {
  left: -80px;
}

.review-content .swiper-arrow.swiper-arrow-next {
  right: -80px;
}

.review-content .quotation svg.quote {
  color: gray;
}

#testimonials .swiper-pagination {
  display: none;
}

@media only screen and (max-width: 901px) {
  #testimonials .swiper-pagination {
    display: block;
    bottom: 10px;
  }

  .review-content .swiper-arrow {
    display: none !important;
  }
}

/*About Us*/
#about-head {
  background: url(assets/image/9.jpg) rgba(0, 0, 0, 0.5);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  height: 70vh;
  text-align: center;
  display: flex;
  align-items: center;
}

.abttitle {
  font-size: 50px;
}

.abttext {
  font-size: 20px;
}

/*Rooms*/
#rooms-head {
  background: url(assets/image/8.jpg) rgba(0, 0, 0, 0.5);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  height: 70vh;
  text-align: center;
  display: flex;
  align-items: center;
}

.owl-carousel .owl-item img {
  width: 100%;
  height: auto;
}

.preyantechnosys-post-item {
  position: relative;
  border-radius: 0px;
  overflow: hidden;
}

.prt-featured-image {
  position: relative;
  overflow: hidden;
}

.prt-featured-wrapper {
  position: relative;
}

.prt-featured-room-content {
  padding: 30px;
  background: #fef9f3;
}

.prt-room-detail-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
}

.prt-room-detail-list span.prt-room-list {
  display: flex;
  align-items: center;
  line-height: normal;
}

.prt-room-detail-list i {
  color: #000000;
  padding-right: 8px;
}

.owl-dots {
  display: none;
}

.owlroom1img {
  width: 420px !important;
  height: 280px !important;
}

.owlroom2img {
  width: 640px !important;
  height: 425px !important;
}

/*Gallery*/
#gallery-head {
  background: url(assets/image/6.jpg) rgba(0, 0, 0, 0.5);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  height: 70vh;
  text-align: center;
  display: flex;
  align-items: center;
}

.imgg1 {
  width: 100%;
  height: 100%;
  max-height: 400px;
}

/*Contact Us*/
#contact-head {
  background: url(assets/image/7.jpg) rgba(0, 0, 0, 0.5);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  height: 70vh;
  text-align: center;
  display: flex;
  align-items: center;
}

.contact-section {
  background: url('assets/image/') no-repeat center center fixed;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px 0;
}

.contact-card {
  background: white;
  margin: 10px 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.icon {
  background: #ff9900;
  color: white;
  border-radius: 50%;
  padding: 10px;
  font-size: 25px;
  display: inline-block;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 45%;
}

.contact-card h3 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  color: #333;
}

.contact-card p {
  font-size: 18px;
  color: #666;
  margin-top: 10px;
}

/*General*/
#rooms-head h1,
#gallery-head h1,
#about-head h1,
#contact-head h1 {
  font-family: "Prata", serif;
  font-weight: 600;
  font-size: 70px;
  line-height: 100px;
  color: white;
}

#rooms-head h1::before,
#gallery-head h1::before,
#about-head h1::before,
#contact-head h1::before {
  content: '';
  height: 1px;
  width: 100%;
  background: white;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  bottom: -19px;
}

.breacrumd {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.breacrumd li {
  text-transform: capitalize;
  font-size: 18px;
  line-height: 28px;
  color: white;
  margin: 20px 5px;
}

.breacrumd li:hover a {
  color: #ff9900;
  transition: 0.5s;
}

/* Footer */
footer {
  background: black;
  padding-top: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

footer p {
  color: white;
  text-align: left;
}

footer h4 {
  color: white;
  margin-bottom: 15px;
  padding-bottom: 3px;
  font-weight: 600;
  border-bottom: 3px solid white;
}

footer .logo a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

ul.contact,
ul.link-menu {
  padding: 0;
  list-style: none;
}

ul.link-menu li {
  display: grid;
  justify-content: center;
}

ul.contact li,
ul.link-menu li {
  color: white;
  font-size: 18px;
  padding: 10px 0;
}

ul.contact li i,
ul.link-menu li i {
  padding-right: 15px;
  font-size: 20px;
}

ul.link-menu li a {
  color: white;
  text-decoration: none;
  transition: color 0.5s, transform 0.5s;
  display: flex;
  align-items: center;
  position: relative;
}

ul.link-menu li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background: #ff9900;
}

ul.link-menu li a:hover::after {
  width: 125%;
  transition: width 0.5s ease;
}

ul.link-menu li a:hover,
ul.contact li:hover {
  color: #ff9900;
  transition: width 0.5s ease;
}

ul.link-menu li.active a {
  color: #ff9900;
}

.copyright-container {
  background: rgb(39, 39, 39);
  width: 100%;
}

.copyright-container .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  color: #ffffff;
}

/* BUTTON */
.btn-3 {
  display: inline-block;
  line-height: normal;
  background-color: transparent;
  border: 1px solid #000;
  padding: 12px 25px;
  transition: .5s all;
}

.btn-3:hover {
  color: #000000;
  background-color: #ff9900;
  border-color: #ff9900;
}

/*BACK_TO_TOP*/
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  color: black;
  background-color: #ff9900;
  z-index: 1;
  border-radius: 100%;
  transition: 0.5s;
}

#btn-back-to-top:hover {
  color: #ff9900;
  background-color: black;
  transition: 0.5s;
}

#btn-back-to-top:hover .btn.btn-floating i.fas.fa-arrow-up {
  color: #1d285c;
}

/*Animation*/
.fadeinleft {
  opacity: 0;
  transform: translateX(200px);
  transition: all 1.3s ease-out;
}

.fadeinright {
  opacity: 0;
  transform: translateX(-200px);
  transition: all 0.8s ease-out;
}

.fadeindown {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 1.2s ease-out;
}

.fadeinup {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1.2s ease-out;
}

.fade-in {
  opacity: 0;
  transition: all 1.3s ease-in;
}

.active-left,
.active,
.active-right,
.active-down,
.active-up {
  opacity: 1;
  transform: translateX(0);
  transform: translateY(0);
}

.fadein {
  opacity: 0;
}

/*Mobile*/
@media screen and (max-width: 1200px) {
  section {
    padding: 50px 0 !important;
  }

  footer .logo a {
    justify-content: center;
  }

  footer p,
  ul.contact li,
  ul.link-menu li a {
    text-align: center;
  }

  .box,.contact-card {
    margin: 15px;
  }

  .quotation img {
    width: 50px;
  }

  .amenities-contain,
  #tagline {
    text-align: center;
  }

  .about_area .tagline::before {
    width: unset;
  }

  ul.contact li,
  ul.link-menu li {
    font-size: 15px;
  }

  #btn-back-to-top {
    display: none !important;
  }

  .breacrumd li {
    font-size: 15px;
  }

  .fadeinleft,
  .fadeinright,
  .fadeindown,
  .fadeinup,
  .fade-in {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}